
body {background-color: slateblue;
border-style: solid;
border-width: 10px;}

#firstDiv {background-color: palevioletred;
    margin-left: 200px; 
margin-right: 200px;


}

#secondDiv {background-color: cyan;
    text-align: justify ;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
color: tomato;
font-size: 24px;
}
#thirdDiv {background-color:palegreen;
margin-left: 400px;
margin-right:400px;
margin-top: 100px;
margin-bottom: 100px;
width:400px;
height:100px;
padding-top: 25px;
padding-bottom: 25px;
color: rgb(255, 0, 0);
}

#fourthDiv {background-color: darksalmon;
    padding-bottom: 20px;
margin-bottom: 20px;
margin-right: 100px;
margin-left: 100px;
color: purple;}

#fifthDiv {background-color: darkseagreen;
padding-bottom: 25px;
color: yellow;
margin-top: 100px;
margin-bottom: 100px;}

#sixthDiv {background-color: deeppink;
margin-left: 100px;
margin-right: 100px;
margin-top: 50px;
margin-bottom: 50px;
padding-left: 20px;
padding-right: 20px;
padding-top: 12px;
padding-bottom: 20px;
color: white;
}

.method {font-family: verdana;
font-size: 20px;
text-align: left;
font-variant: small-caps;
padding-top: 25px;
padding-bottom: ;
}
.headings {
    font-family: cursive;
    text-align: center;
}