body {background-color: cyan;}
/* CSS Cascading Style Sheets
CSS Parts:
Selector
Rules: property & Value


*/
#firstDiv{
    background-color: gray;
    margin-top: 100px;
   
}
#pizza {
    background-color: red;
}
.box {
    width: 266px;
    height: 290px;
    background-color: blueviolet;
    border-style: solid;
    border-width: 5px;
    border-color: chartreuse;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding-left: 12px;
    padding-right: 12px;


}
#special-paragraph{
    font-size: 24px;
    font-family: Arial;
    color: purple;
    
    font-weight: bolder;
    font-style: italic;
    line-height: 48px;
    direction: rtl;
    text-transform: uppercase;
    text-align: center;




}